
.product-title{

    font-weight: bold;
    color: #007185;
}

.card-container {
   
}

.product-desc {
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
